mem/error.mem
mem/main.mem
mem/menu.mem
mem/map.txt
mem/mapedit.mem
mem/debuginfo.db
mem/infomap.db
mem/mapedit2.mem
mem/bmapedit.mem
asm/code.asm
asm/data.asm
asm/r3fasm.exe
asm/set.asm
r3fasm.exe
r3/d4/gen/map.txt
/r3/iti2024
/r3/test
/wwww