mem/error.mem
mem/errorm.mem
mem/main.mem
mem/menu.mem
mem/map.txt
mem/mapedit.mem
mem/debuginfo.db
mem/infomap.db
mem/mapedit2.mem
mem/bmapedit.mem
asm/code.asm
asm/data.asm
asm/r3fasm.exe
asm/set.asm
r3fasm.exe
r3/d4/gen/map.txt
/r3/iti2024
/r3/test
/www
/r3/juegoale
onnx/hand_landmark_sparse_Nx3x224x224.onnx
onnx/palm_detection_full_inf_post_192x192.onnx
onnx/yolo11n-pose.onnx
onnx/yolo12n.onnx
mem/r3.err
mem/r3code.mem
mem/r3dicc.mem
dll/onnxruntime.dll
/r3/onnx
/onnx
